.App {
  font-family: "Arial", sans-serif;
  background-color: #f3f2ff; 
  padding: 20px;
  text-align: center;
}

body {
  background-color: #e3e9f8; 
  margin: 0; 
}

.logo {
  margin-bottom: 20px;
}

.leaderboard {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  text-align: left;
}

.header {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 20px; 
}

.logo-container, .spacer {
  flex: 0.5; 
}

.logo {
  width: 150px; 
  height: auto; 
}

.leaderboard-header {
  font-family: 'Syne', sans-serif; 
  font-weight: 700; 
  font-size: 4em; 
  color: #FFFFFF;
  margin-bottom: 20px; 
  text-align: center; 
}


.leaderboard-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ecebff; 
  border-radius: 10px;
}

.leaderboard-entry .rank {
  font-size: 24px;
  font-weight: bold;
}

.leaderboard-entry .name {
  font-size: 20px;
  font-weight: 500;
  flex-grow: 1;
  padding: 0 20px; 
}

.stats {
  text-align: right;
}

.stats .score {
  font-size: 20px;
  font-weight: bold;
}

.stats .tests-written {
  display: block;
  font-size: 16px;
  color: #666;
}

.rank-1 {
  background-color: #f0f8ff;
}
.rank-2 {
  background-color: #e6f0ff;
}
.rank-3 {
  background-color: #d8e6ff;
}
.rank-4 {
  background-color: #cadcff;
}
.rank-5 {
  background-color: #b8d2ff;
}

.rank-image {
  width: 40px;
  height: auto;
  margin-right: 20px;
}

@media (max-width: 640px) {
  .leaderboard-entry {
    flex-direction: column;
    align-items: flex-start;
  }

  .stats {
    align-self: stretch;
    text-align: left;
    margin-top: 10px;
  }
}

.rank-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.leaderboard-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.leaderboard-names-box {
  width: 48%; 
  background-color: transparent;
  border-radius: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.leaderboard-scores-box {
  width: 48%; 
  background-color: #fff;
  border-radius: 45px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.name-entry {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 50px;
}

.name-entry-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px; 
}

.name-entry, .score-entry {
  display: flex;
  align-items: center; 
  padding: 10px;
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rank-image {
  width: 60px; 
  height: auto;
  margin-right: 10px; 
}

.fourth-place {
  width: 60px; 
  height: auto; 
  background-color: #271427;
}

.fifth-place {
  width: 60px; 
  height: auto; 
  background-color: #271427;
}

.name-entry {
  width: 60%; 
  background-color: transparent; 
  border-radius: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-grow: 1;
  display: flex;
  align-items: center; 
  margin-bottom: 10px;
}

.name-entry-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .leaderboard-container {
    flex-direction: column;
  }

  .leaderboard-names-box,
  .leaderboard-scores-box {
    width: 100%;
    margin-bottom: 20px;
  }
}

.leaderboard-scores-box {
  /* ... */
  display: flex;
  flex-direction: column;
}

.score-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 2px; 
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.score-section,
.tests-section {
  text-align: center;
}

.divider {
  height: 65px;
  width: 2px;
  background-color: #800080; 
  margin: 0 20px;
}

.score {
  font-size: 24px;
  font-weight: bold;
}

.tests {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.label {
  font-size: 14px;
  color: #666;
}
